{% extends 'base.html' %}

{% block content %}
{% if candidates %}
<h3>Welcome {{ user.username }}!</h3>
<div class="articles">
    {% for candidate in candidates %}
    <div class="article">
        <h2>Name: {{ candidate.name }}</h2>
        <p>Email: {{ candidate.email }}</p>
        <p>Job Applied: {{ candidate.job_applied_to }}</p>
        <a href="{% url 'candidates:candidate-detail-view' candId=candidate.id %}">
            <button class="back-button view-btn">View Candidate</button>
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="not-found">Welcome {{ user.username }}!</h3>
<h4 class="try-again">Currently there are no applicants!</h4>
{% endif %}
{% endblock %}